*{
    margin: 0;
    padding: 0;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    
   
}

.container{
    max-width: 1000px;
    margin: auto;
}


header{
    background-color: #48c5ce;
    text-align: center;
    color: white;
    padding: 10px;
    
    
}

.title{
    font-size: 25px;
    
}

section{
   
   background-image: url(../image/people.jpg);
   background-repeat: ;
   background-size: cover;
   overflow: hidden;
 
 
   

   
}

.formcontainer{
    margin: 15px;
    max-width: 230px;
    background-color: #ffffffbb;
    padding: 20px;
    float: right; 
      
}


input, select{
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box; /* todos com msm tamanho */
    padding: 15px;
    border: none;
}

h2{
    font-size: 16px;
    padding-bottom: 20px;


 
}

p{
    padding-bottom: 20px;
}


input[type="submit"] {
color: white;
background-color: #48c5ce;
font-weight: bold;
    
}

footer{
    
    background-color: #202121;
    text-align: center;
    max-width: 900px;
    margin: auto;
    padding: 50px;
    
    
    
}


.picture{
    width: 160px;
  

}



.description{
     color: white;
    display: inline-block;
    max-width: 40%;
    text-align: left;

    
}

.description p, .description h3{
    margin-bottom: 30px;
    margin-left: 50px;
  
}

.description h3{
      font-size: 24px;

}

.description p{
    font-size: 17px;
}