*{
    margin: 0;
    padding: 0;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
   
}

.container{
    max-width: 1000px;
    margin: auto;
}


header{
    background-color: #48c5ce;
    text-align: center;
    color: white;
    padding: 10px;
    
    
}

.title{
    font-size: 25px;
    
}

section{
   
}

.formcontainer{
    max-width: 250px;
    background-color: #ffffffbb;
    padding: 20px;
    float: right;
      
}

h2{
    font-size: 16px;
    margin-bottom: 15px;
}

p{
    margin-bottom: 15px;
}

input, select{
    margin-bottom: 10px;
}

